@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-high-contrast-rgb-value: 49, 49, 49;
  --detail-medium-contrast-rgb-value: 234, 234, 234;
}

body {
  font-family: "Rubik", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .wrapper {
    @apply max-w-[1200px] mx-auto px-4;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
  h3 {
    @apply font-bold text-2xl;
  }
  h2 {
    @apply font-bold text-4xl;
  }
}

.header {
  animation: header-drop 3s normal 1s both;
}

@keyframes header-drop {
  0% {
    transform: rotate(270deg);
    font-size: 8rem;
    top: 15rem;
    left: -5rem;
    font-weight: bold;
  }
  20%,
  40% {
    transform: rotate(360deg);
    font-size: 8rem;
    top: 15rem;
    left: 5rem;
    font-weight: bold;
  }
  60%,
  70% {
    transform: rotate(360deg);
    font-size: 8rem;
    top: 15rem;
    left: 15rem;
    font-weight: bold;
  }
  100% {
    transform: rotate(360deg);
    font-size: 2.5rem;
    top: 7rem;
    left: 26rem;
    font-weight: bold;
  }
}

.hero_image {
  animation: image-slide 3s normal 1s both;
}

@keyframes image-slide {
  0%,
  30% {
    transform: translateX(200%);
  }
  60% {
    transform: translateX(50%);
  }
  75% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@layer components {
  .snap_slide {
    @apply border-oredoo !py-8;
  }
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 0.2rem;
}

.embla__dot {
  -webkit-tap-highlight-color: #d9d9d9;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  background-color: #d9d9d9;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  background-color: #d6001c;
  width: 3rem;
  border-radius: 10px;
}

.embla__dots_snap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.embla__dot_snap {
  -webkit-tap-highlight-color: #d9d9d9;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 1.5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot_snap:after {
  background-color: #d9d9d9;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot_snap--selected:after {
  background-color: #fce028;
  width: 3rem;
  border-radius: 10px;
}

.image__slide {
  animation: slide_fade 1s ease-in-out both;
}

@keyframes slide_fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
